@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.siteNameHeading{
  @apply text-[20px] font-semibold  text-[#f2f2f2];
}

.sitepoppinsfont{
  font-family: "Poppins", serif;
}
.siteInterfont{
  font-family: "Inter", serif;
}

.siteHeroHeading {
  @apply text-[52px] font-light text-center text-[#f2f2f2];
}

.siteParagraph {
  @apply text-[20px] font-medium leading-[20px] text-[#f2f2f2];
}

.siteSectionHeading {
  @apply text-[24px] font-semibold tracking-[5%] text-[#f2f2f2];
}
.email-enter{
//  background: rgba(15, 23, 42, 0.447059);

  border-radius: 50px;
}
.buttonClass {
  @apply py-[12px] px-[12px] md:px-[16px] font-semibold text-base leading-[20px] cursor-not-allowed opacity-50 text-[#f2f2f2] rounded-3xl;
}

.site-parent-class {
  @apply bg-sitePrimaryColor ;
}

.site-main-container {
  @apply container px-4 py-2 md:py-5 md:px-14 flex text-[#f2f2f2];

  align-items: center;
  justify-content: space-between;
}

.download-button {
  @apply py-4 px-2 bg-siteSecondaryColor border border-sitePrimaryColor rounded-[10px];
}

.side-button {
  @apply flex md:hidden text-white max-w-[30px] w-[30px];
}

.nav {
  @apply hidden md:flex items-center;
}

.width100 {
  @apply absolute w-full h-[100%] z-10;
  transition: width 0.3s ease-in;
}

.width0 {
  @apply hidden;
}

.nav-center {
  @apply text-white hover:text-gray-300 transition w-full m-auto py-5 border-b border-e-white text-[20px] font-semibold sitepoppinsfont;
}

.siteDivider {
  // @apply divide-gray-400 py-2 h-1 text-[#f7f7f7];
  @apply py-3 flex items-center text-lg text-gray-400 before:flex-1 before:border-t before:border-gray-200 before:me-6 after:flex-1 after:border-t after:border-gray-200 after:ms-6 dark:text-white dark:before:border-neutral-600 dark:after:border-neutral-600;
}

// .siteHr{
//   @apply  my-12 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-25 dark:via-neutral-400";

// }

.siteContactLink {
  @apply text-[16px] md:text-[20px] text-[#f9f9f9] font-semibold;
}